<div id="form-container">
  <mat-form-field>
    <mat-label>Flight number prefix</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Flight number</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>From (AITA airport code)</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>To (AITA airport code)</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Departure date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Aircraft registration</mat-label>
    <input matInput>
  </mat-form-field>
</div>