<mat-card>
  <mat-card-header>
    <h2>
      <a
        [href]="flightRadarTwentyFourLinkForFlight"
        target="_blank"
        rel="noopener noreferrer"
        >{{ flight.flightNumberPrefix + flight.flightNumber }}</a
      >
    </h2>
    <span id="spacer"></span>
    <button
      mat-icon-button
      color="primary"
      aria-label="Delete flight record"
      color="warn"
      (click)="onClickDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="column left">
      {{ flight.fromIATAAirportCode }} → {{ flight.toIATAAirportCode }}
      <br />
      Departure date: {{ flight.departureDate }}
      <br />
      Aircraft: {{ flight.aircraftRegistration }} (<a
        [href]="jetPhotosLink"
        target="_blank"
        rel="noopener noreferrer"
        >JetPhotos</a
      >/<a
        [href]="flightRadarTwentyFourLinkForAircraft"
        target="_blank"
        rel="noopener noreferrer"
        >FlightRadar24</a
      >)
    </div>
    <div class="column right">
      <flight-map
        [flight]="flight"
      ></flight-map>
    </div>
  </mat-card-content>
</mat-card>
